@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* --------- Estilos do slide --------- */

:root {
    --red: #9e0808;
    --r-background-color: #fff;
    --r-main-font: 'Roboto', sans-serif!important;
    --r-heading-font: 'Roboto', sans-serif!important;
  }



.reveal{
    max-width: 1500px;
    margin-inline: auto!important;
    background-color: #FFF!important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.reveal .slides section {
    height: 100% !important;
}

/* Cabeçalho estilo PowerPoint */
.reveal .slide-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    padding-block: 10px;
    text-align: left;

    padding-bottom: 15px;
}

.reveal .slide-title:before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 15px;
    height: 5px;
    width: 55px;
    background-color: #111;
}

.reveal .slide-title:after {
    content: "";
    position: absolute;
    left: 12px;
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url(../media/images-base/icon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    z-index: 10;
}

.reveal .slide-title h1 {
    
    position: relative;
    font-size: 35px;    
    color: #080808;
    
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 80px;
    
    margin-top: -5px;
    
    text-transform: none !important;
}

.reveal .slide-title h1 span {
    float: right;
    margin-right: 10px;
}

.reveal .slide-title h1:before {
    content: "";
    position: absolute;
    left: 10px;
    top: -20px;
    height: 100vh;
    width: 55px;    
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 15%, rgb(38, 65, 108) 50%, rgba(255, 255, 255, 1) 85%);
    z-index: -1;
}

.reveal .slide-title h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: #333;
}

.reveal .slide-content {
    height: 100% !important;    
    text-align: left;
    font-size: 1.8rem;    
    margin-left: 0;
    margin-top: 1.5rem;
    /* width: fit-content; */    
    /* width: 107%; */
    
}

/* corrige quando o usuario entrar em fullscreen */
.fullscreen-fix { 
    margin-left: 5rem !important;
    margin-top: 3rem !important;
}


.reveal .slide-content p, .reveal .slide-content ul{
    line-height: 3rem!important;
}

.math{
    font-size: 90%!important;
    padding-right: 0.5rem!important;
}




#loading {
    font-size: 40px;
    outline: none;
    border: none;
    background: transparent
}

.circuitikz-code img{
    margin: 0!important;
}

.circuitikz-code-center img {
    display: block!important;
    margin: 0 auto!important;
    padding-left: 3rem!important; /* Tentativa de ajustastar */
}

.icon-fullscreen{
    margin-right:10px;
    cursor: pointer;
}

.equations{
    text-align: center!important;
    margin-block: 1rem;
}

hr{
    margin-block: 2rem;
}

p{margin:0!important;}


/* Estilos de formatacoes */


.bg-check{background-color: #f4f86c;}

.font-size-1{font-size: 1rem!important;;}
.font-size-1-1{font-size: 1.1rem!important;;}
.font-size-2{font-size: 1.5rem!important;;}
.font-size-3{font-size: 2rem!important;;}
.font-size-4{font-size: 2.5rem!important;;}
.font-size-5{font-size: 3rem!important;;}

.font-color-red{color: var(--red)}

.bold{font-weight: 600;}
.italic{ font-style: italic;}
.underline{text-decoration: underline;}


.line-height-0{
    line-height: -10px!important;
}

.line-height-1 br {content: ""; display: block;margin-top: 0.8rem;}

.line-height-4{line-height: 4rem!important;}


.mb-1{margin-bottom: 0.5rem!important;}
.mb-2{margin-bottom: 1.5rem!important;}
.mb-3{margin-bottom: 2rem!important;}
.mb-4{margin-bottom: 2.5rem!important;}
.mb-5{margin-bottom: 3rem!important;}

.mt-1{margin-top: 1rem!important;}
.mt-2{margin-top: 1.5rem!important;}
.mt-3{margin-top: 2rem!important;}
.mt-4{margin-top: 2.5rem!important;}
.mt-5{margin-top: 3rem!important;}

.mr-1{margin-right: 0.5rem!important;}
.mr-2{margin-right: 1.5rem!important;}
.mr-3{margin-right: 2rem!important;}
.mr-4{margin-right: 2.5rem!important;}
.mr-5{margin-right: 3rem!important;}

.ml-1{margin-left: 1rem!important;}
.ml-2{margin-left: 1.5rem!important;}
.ml-3{margin-left: 2rem!important;}
.ml-4{margin-left: 2.5rem!important;}
.ml-5{margin-left: 3rem!important;}



.p-1{padding: 2rem!important;}


.pr-1{padding-right: 1rem!important;}
.pr-2{padding-right: 1.5rem!important;}
.pr-3{padding-right: 2rem!important;}
.pr-4{padding-right: 2.5rem!important;}
.pr-5{padding-right: 3rem!important;}
.pr-6{padding-right: 3.5rem!important;}

.pl-1{padding-left: 1rem!important;}
.pl-2{padding-left: 1.5rem!important;}left
.pl-3{padding-left: 2rem!important;}
.pl-4{padding-left: 2.5rem!important;}
.pl-5{padding-left: 3rem!important;}

.pm-0{padding: 0!important; margin:0!important;}


.margin-inline-unset{margin-inline:unset!important;}

.w-100{width: 100%!important;}
.w-75{width: 75%!important;}
.w-60{width: 60%!important;}
.w-49{width: 49%!important;}
.w-50{width: 50%!important;}
.w-40{width: 40%!important;}

.align-middle{margin-block:auto;}

.fr{float: right;}
.fl{float: left;}

.text-align-right{
    text-align: right!important;
}

.border-radius-1 {border-radius: 1rem;}


/* DISPLAY */
.display-inline-flex{ display: inline-flex;}

.display-flex{display: flex;}

.flex-grow-1{flex-grow: 1;}

.flex-align-items-center{align-items: center;}

.flew-gap-1{gap: 2rem;}
.flew-gap-2{gap: 4rem;}
.flew-gap-3{gap: 6rem;}
.flew-gap-4{gap: 8rem;}


.flex-basis-70{flex-basis:70%}
.flex-basis-60{flex-basis:60%}
.flex-basis-65{flex-basis:65%}
.flex-basis-55{flex-basis:55%}
.flex-basis-50{flex-basis:50%}
.flex-basis-40{flex-basis:40%}
.flex-basis-45{flex-basis:45%}
.flex-basis-35{flex-basis:35%}
.flex-basis-30{flex-basis:30%}


.flex-direction-column{flex-direction: column;}


.flex-justify-content-between{justify-content:space-between}
.flex-justify-content-center{justify-content: center!important;}
.flex-justify-content-flex-start{justify-content: flex-start!important;}


.flex-align-items-center{align-items: center;}


.text-center{
    text-align: center!important;
}

.box-blue{
    border-width: 1px;
    border-style: solid;
    padding: 20px;    
    border-radius: 3px;
    background-color: #ffffe0;
    border-color: #e6db55;
    color: #302d06;
    display: inline-block;
    }

.border-box{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

ol.letters-list {list-style: none;counter-reset: custom-counter;}
ol.letters-list li {counter-increment: custom-counter; margin-bottom: 0.5rem;}
ol.letters-list li::before {content: counter(custom-counter, lower-alpha) ") ";}


/* INPUTS */
.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    background: white;
    margin-bottom: 5px;
}

.input-group-lg span, .input-group-lg input {
    font-size:2rem;
}

.input-prefix,
.input-suffix {
    background: #f1f1f1;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
}

/* Para ajeitar o texto */
.input-suffix::after,
.input-suffix::before,
.input-prefix::after,
.input-prefix::before {
    content: "\00a0";
}

.input-field {
    border: none;
    padding: 8px;
    flex: 1;
    font-size: 16px;
    outline: none;
    min-width: 0;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}


/* BUTTONS */
.button-blue {
    background-color: #d2e4ee;
    color: #414141;
}
.button-blue:hover {
    background-color: #b6c8d2;    
}
.button-blue:focus {
    outline: 2px solid #b6c8d2;
    outline-offset: 2px;
}

.button-gray {
    background-color: #e8e8e8;
    color: #414141;
}
.button-gray:hover {
    background-color: #c7c7c7;
}
.button-gray:focus {
    outline: 2px solid #c7c7c7;
    outline-offset: 2px;
}



.citation {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 1.5rem;
    border: 0!important;
    line-height: 1!important;    
    margin-left: 2rem!important;
    padding: 0!important;
    width: 100%!important;
    box-shadow: none!important;
    quotes: "\201C""\201D""\2018""\2019"; /* Aspas elegantes */
    font-style: italic;
}

.citation:before {
    content: open-quote;
    font-size: 2em;
    color: #2c3e50;
    line-height: 0;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.citation:after {
    content: close-quote;
    font-size: 2em;
    color: #2c3e50;
    line-height: 0;
    margin-left: 0.25em;
    vertical-align: -0.6em;
}





.tab-conceitos {
    width: 100%;    
    margin: 0 auto;
    border: 1px solid #5e9dd5;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tab-conceitos th {
    background-color: #FFF;
    padding: 1rem!important;
    text-align: center!important;
    font-weight: bold;
    width: 25%!important;
}

.tab-conceitos td {
    background-color: #deebf6;
    padding: 1rem!important;
    text-align: center!important;
    vertical-align: middle;
    width: 25%!important;
}


.tab-cp {
    width: 100%;    
    margin: 0 auto;
    border-collapse: collapse; 
    border-style: hidden;     
}

.tab-cp td {    
    padding: 1.5rem!important;
    border: 1px solid #000; 
    text-align: center!important;
    vertical-align: middle!important;
    width: 50%;
}

.tab-cp .circuitikz-code {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 100%!important;
    margin: 0 auto!important;
    padding-left: 80px!important;
}

/* Container do SVG gerado pelo Circuitikz */
.tab-cp .circuitikz-code img {
    display: block!important;
    margin: 0 auto!important;
}


.tab-ohm, .tab-kir {
    width: 100%;    
    margin: 0 auto;
    border-collapse: collapse; 
    border-style: hidden;     
}

.tab-ohm td, .tab-kir td {    
    padding: 0.5rem!important;
    border: 1px solid #000; 
    text-align: center!important;
    vertical-align: middle!important;
}

.tab-ohm td{width: 33%;}
.tab-kir td{width: 50%;}


