.box-yellow {
      border-width: 1px;
      border-style: solid;
      padding: 20px;
      border-radius: 3px;
      background-color: #ffffe0;
      border-color: #e6db55;
      color: #302d06;
      display: inline-block;
}

.border-box {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}